.features{
    padding:100px 8%;
    background:#f8fbff;
}

.features-heading{
    text-align:center;
    margin-bottom:60px;
}

.features-heading span{

    color:#2563eb;

    font-weight:700;

    letter-spacing:1px;

    text-transform:uppercase;
}

.features-heading h2{

    margin:20px 0;

    font-size:42px;

    color:#111827;
}

.features-heading p{

    max-width:650px;

    margin:auto;

    color:#6b7280;

    line-height:1.8;

    font-size:18px;
}

.features-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

    gap:30px;
}

.feature-card{

    background:white;

    padding:35px;

    border-radius:20px;

    text-align:center;

    transition:.35s;

    box-shadow:0 10px 30px rgba(0,0,0,.06);

    border:1px solid #edf2f7;
}

.feature-card:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 40px rgba(37,99,235,.15);
}

.feature-icon{

    width:80px;

    height:80px;

    margin:auto;

    border-radius:50%;

    background:#2563eb;

    color:white;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:32px;

    margin-bottom:25px;

    transition:.35s;
}

.feature-card:hover .feature-icon{

    transform:rotate(10deg) scale(1.1);
}

.feature-card h3{

    margin-bottom:15px;

    color:#111827;

    font-size:24px;
}

.feature-card p{

    color:#6b7280;

    line-height:1.8;
}

@media(max-width:768px){

.features{

padding:80px 20px;

}

.features-heading h2{

font-size:32px;

}

.features-heading p{

font-size:16px;

}

}