/* ==========================
   LIGHT THEME
========================== */

.light-theme{
  --bg:#f8fafc;
  --card:#ffffff;
  --text:#111827;
  --secondary:#64748b;
  --border:#e2e8f0;
  --primary:#2563eb;
}

/* ==========================
   DARK THEME
========================== */

.dark-theme{
  --bg:#0f172a;
  --card:#1e293b;
  --text:#f8fafc;
  --secondary:#94a3b8;
  --border:#334155;
  --primary:#3b82f6;
}

/* ==========================
   GLOBAL
========================== */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:var(--bg);
  color:var(--text);
  font-family:Inter,sans-serif;
  transition:.3s;
}

a{
  color:inherit;
  text-decoration:none;
}

button{
  font-family:inherit;
}